<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Processar</servlet-name>
        <servlet-class>Controllers.Processar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarClienteServlet</servlet-name>
        <servlet-class>Controllers.CadastrarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarPedidoServlet</servlet-name>
        <servlet-class>Controllers.CadastrarPedidoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarOrdemServlet</servlet-name>
        <servlet-class>Controllers.CadastrarOrdemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaServlet</servlet-name>
        <servlet-class>Controllers.ListaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraStatusOrdemServlet</servlet-name>
        <servlet-class>Controllers.AlteraStatusOrdemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Processar</servlet-name>
        <url-pattern>/Processar.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>LogoutServlet</display-name>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarClienteServlet</servlet-name>
        <url-pattern>/CadastrarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarPedidoServlet</servlet-name>
        <url-pattern>/CadastrarPedidoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarOrdemServlet</servlet-name>
        <url-pattern>/CadastrarOrdemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaServlet</servlet-name>
        <url-pattern>/ListaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraStatusOrdemServlet</servlet-name>
        <url-pattern>/AlteraStatusOrdemServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            5
        </session-timeout>
    </session-config>
</web-app>
